*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#board {
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#board-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    user-select: none;
}

.flip {
    transform: rotate(180deg);
}

.row {
    display: flex;
}

.square {
    width: 100px;
    height: 100px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.white {
    background: rgb(232, 232, 232);
}

.black {
    background: rgb(100, 100, 100);
}

img {
    width: 90px;
    height: 90px;
}

img:hover {
    cursor: pointer;
}

.dragged {
    position: absolute;
    z-index: 1000;
    cursor: pointer;
    pointer-events: none;
    opacity: 1;
}

#promotion-screen {
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: transparent;
}

.promotion-screen-visible {
    display: flex;
}

.pieces-wrapper {
    z-index: 9999;
    position: absolute;
}

#promotion-screen-background {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(3px);
    z-index: 5000;
}

.piece-selection {
    outline: none;
    border: none;
    background: none;
}

.promotion-piece {
    user-select: none;
}
