*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgba(0, 0, 0, 0.9);
}

#content-wrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

#sidebar {
    background: rgba(255, 255, 255, 0.1);
    min-width: 30vw;
    min-height: 100vh;
    max-height: 100vh;
}

#board {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}

#board-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex;
    user-select: none;
}

.flip {
    transform: rotate(180deg);
}

.row {
    display: flex;
}

.square {
    width: calc(100vh / 8);
    height: calc(100vh / 8);

    display: flex;
    align-items: center;
    justify-content: center;
}

.white {
    background: rgb(232, 232, 232);
}

.black {
    background: rgb(30, 120, 150);
}

img {
    width: 100px;
    width: 100px;
    z-index: 2;
}

img:hover {
    cursor: pointer;
}

.dragged {
    position: absolute;
    z-index: 1000;
    cursor: pointer;
    pointer-events: none;
    opacity: 1;
}

#flip-button {
    background: red;
    width: 100%;
    padding-block: 1rem;
    font-family: monospace;
    background: rgba(0, 0, 0, 0.1);
    color: white;
    outline: none;
    border: none;
}

#flip-button:hover {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.2);
}

#reset-button {
    background: red;
    width: 100%;
    padding-block: 1rem;
    font-family: monospace;
    background: rgba(0, 0, 0, 0.1);
    color: white;
    outline: none;
    border: none;
}

#reset-button:hover {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.2);
}

#promotion-screen {
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: transparent;
}

.promotion-screen-visible {
    display: flex;
}

.pieces-wrapper {
    z-index: 9999;
    position: absolute;
}

#promotion-screen-background {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(3px);
    z-index: 5000;
}

.piece-selection {
    outline: none;
    border: none;
    background: none;
}

.promotion-piece {
    user-select: none;
}

.capturable-highlight::before {
    content: "";

    background: none;
    border: 8px solid rgba(0, 0, 0, 0.3);

    width: calc(100vh / 8);
    height: calc(100vh / 8);

    border-radius: 50%;
    position: absolute;
    z-index: 1;
}

.highlight::before {
    content: "";
    background: rgba(0, 0, 0, 0.3);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
}
